
body{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}



.main-title, .title{
    color: lightcoral;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.main-title {
    padding-left: 3%; /*to align with content b4 it didntttttt*/ 
}

.content {
    display: flex;
    padding: 3% 0 15%;
}

.content, .recipes, .title {
    justify-content: center;
    align-items: center;
}

.recipes{
    color: rgb(225, 133, 133);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 50%;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.styling{
    color: rgb(73, 189, 189);
}

h5{
    font-size: 12px;
    color: rgb(237, 191, 136);
}

.text{
    color:rgb(175, 57, 124);
}

.footer {
    padding-top: 10%;
}